
.title-page {
    padding-top: 50px;
    background-color:#111111 ;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 1526px;
    height: 990px;
    
}


.section {
    width: 1135px;
    height: 636px;
}