.Footer-section {
    width: 1440px;
    height: 367px;
    background: rgba(23, 23, 23, 1);
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer-logo {
    width: 143px;
    height: 30.3px;
    margin-bottom: 65px;
}


.content-menu {
    width: 855px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-options {
    width: 548px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

}

.menu-options h4 {
    color: #ffffff;
   
}
.media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 187px;
    height: 30px;


}


.Footer-content {
    width: 855px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content-policy {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 425px;
    height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-left: -300px;

}

.content-policy h6{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;  
    text-align: left;
    
}